<html ng-app="helloApp">
<head>
</head>
<style>
	.fancy {
		background-color: pink;
	}
	.superfancy {
		background-color: lightgrey;
	}
</style>
<body>
	<div ng-controller="worldController">
	<div ng-hide="bePolite">
			<h2 ng-bind="greeting"></h2>
			<h3 >{{ 'good' + ' ' + 'morning' }}</h3>
		</div>
		<input value="Say Something" type="button" ng-click="yell('nothing')"/>

		<h2 ng-bind="greeting"></h2>

		<div ng-repeat='hotel in hotels' ng-class-odd="'superfancy'" ng-class-even="'fancy'">
			<div>
				<img ng-src="{{hotel.image}}" />
			</div>
			<div><strong>{{hotel.name}}</strong>
			</div>
			<div>{{hotel.location}}
			</div>
			<hr/>
			<br/>
			<br/>
		</div>

	</div>
	<script src="angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/helloWorldController.js"></script>
</body>
</html>